html, body {margin: 0; height: 100%; overflow: hidden}
body{
    background-color: #cfcf9d;
}

.title{
    font-size: 35px;
    margin-bottom: -7px;
}

input[type=text] {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 40px;
    text-align: center; 
    border: none; /* <-- This thing he| */
    border:solid 1px #ccc;
    border-radius: 25px;
    width: 9%;
    transition: 0.5s;
}

.searchForm{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 10%;
    width: 100%;
    height: 200px;
    text-align: center;
}

.bottomWave{
    position:absolute; 
    bottom:0;
    margin-top: 55px;
}

.wrapper {
    height: 300px;
    width: 300px;
    display: flex;
    align-items: flex-end;
}

p{
    font-size: 40px;
    font-family: 'Josefin Sans', sans-serif;
}


@media only screen and (max-width: 1024px) {
    .title{
        font-size: 85px;
        margin-bottom: -7px;
    }

    input[type=text] {
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        font-size: 60px;
        text-align: center; 
        border: none; /* <-- This thing he| */
        border:solid 1px #ccc;
        border-radius: 25px;
        width: 30%;
        transition: 0.5s;
    }

    p{
        font-size: 70px;
        font-family: 'Josefin Sans', sans-serif;
    }
    
}
